
@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/Quicksand_Light-webfont.eot');
    src: url('fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('fonts/Quicksand_Light_Oblique-webfont.eot');
    src: url('fonts/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBookOblique';
    src: url('fonts/Quicksand_Book_Oblique-webfont.eot');
    src: url('fonts/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Book_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/Quicksand_Bold-webfont.eot');
    src: url('fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('fonts/Quicksand_Bold_Oblique-webfont.eot');
    src: url('fonts/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandDash';
    src: url('fonts/Quicksand_Dash-webfont.eot');
    src: url('fonts/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Dash-webfont.woff') format('woff'),
         url('fonts/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-bold.eot');
    src: url('fonts/Alef-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Alef-bold.woff') format('woff'),
    url('fonts/Alef-bold.ttf') format('truetype'),
    url('fonts/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('fonts/Alef-regular.eot');
    src: url('fonts/Alef-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Alef-regular.woff') format('woff'),
    url('fonts/Alef-regular.ttf') format('truetype'),
    url('fonts/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  height: 100%;
  width: 100%;

}
body {
  overflow: hidden;
  background-color: #000;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'QuicksandLight',serif;
}

.hidden {
  display: none;
}
.main img {
  max-width: 100%;
  height: auto;
}

.wrap {
  background: url(back4.jpg) no-repeat right center fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 10%;
}
.inner-wrap {
  margin: 0;
  float: left;
  height: 100%;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

h1 {
  height: 20%;
  width: 30%
}

h1 img {
  max-width: 100%;
  height: auto
}

h1 span {
  display: block;
  position: relative;
  top: -1000px;

}
.line-1 {
  letter-spacing: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
}
.middle {
  margin-top: 4%;
  height: 33%
}
.main {
  position: relative;
  left: 10%;
  overflow: hidden;
  width: 83%;
}

.side-menu-wrap {
  float: left;
  width: 17%;
  height: 100%;
}
ul.side-menu {
  font-family: 'QuicksandLight', serif;
  height: 100%;
}
ul.side-menu li {
  cursor: pointer;
  color: #464444;
  min-height: 42%;
}
ul.side-menu li a {
  color: #464444;
}
.side-menu .p-menu-item {
  font-weight: bold;
}

.side-menu .menu-works li {
  font-weight: normal;
  height: 100%;
  margin: 5% 0;
}
ul.image-menu {
  overflow: hidden;
  width: 100%;
}
ul.image-menu li {
  float: left;  color: #464444;
  margin: 0 1%;
  width: 13%;
}

ul.image-menu li img {
  box-shadow: 5px 5px 2px #888;
}


.fotter {
  position: fixed;
  bottom: 5px;
  left: 5px;

}
.gallery {
  width: 100%;
  height: 100%;
}

.gallery div {
  text-align: center;
  width: 25%;
  position: relative;
  left: 15%;
  z-index: 10;
  -moz-box-sizing: border-box;
}

#gstart .gstart {
  box-shadow: 10px 10px 5px #888;
}
#gstart .gstart:after,
#gstart .gstart:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 10px solid #fff;
  -moz-box-sizing: border-box;
}

#gstart .gstart:after {
  z-index: -10;
  top: 4px;
}
#gstart .gstart:before {
  z-index: -20;
  top: 8px;
}

.about-text {
  width: 43%;
  height: 24em;
  margin: auto;
  overflow: hidden;
  right: 25%;
  position: relative;
  font-family: 'alef',serif;
  color: #000000;
}
.about-text .lang {
  display: block;
  color: #464444;
}
.about-text .he  {
}
.about-text .he-text {
  direction: rtl;
  line-height: 120%;
}

.text {
  text-align: justify;
  color: #000000;
  margin: 0 0 5px 0;
}
.about-text ul {
  list-style-type: circle;
  margin: 0;
}
.en-text ul {
  padding-left: 3%;
}
.he-text ul {
  padding-right: 3%;
}
.email-link {
  margin-top: 15%;
}
.mal {
    font-size: 19px;
}
ul li div.mal a {
  color: #232733;
  font-weight: bolder;
}

